<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <Package
    Name="Virtual Agency Server"
    Manufacturer="Virtual Agency"
    Version="$(var.Version)"
    UpgradeCode="{20378471-747A-4500-BCE9-7A6941211AF1}"
    Scope="perUser"
    Compressed="yes">

    <MajorUpgrade DowngradeErrorMessage="A newer version of Virtual Agency Server is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon" SourceFile="apps/desktop/src-tauri/icons/icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />
    <Property Id="ARPURLINFOABOUT" Value="https://virtualagency.ai" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="CompanyFolder" Name="VirtualAgency">
        <Directory Id="INSTALLFOLDER" Name="Server">
          <Component Id="cmpServerExe" Guid="*">
            <File Id="filServerExe" Source="$(var.ExePath)" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Virtual Agency">
        <Component Id="cmpStartMenuShortcut" Guid="*">
          <Shortcut
            Id="StartMenuShortcut"
            Name="Virtual Agency Server"
            Target="[INSTALLFOLDER]virtual-agency-server.exe"
            WorkingDirectory="INSTALLFOLDER"
            Icon="AppIcon" />
          <RemoveFolder Id="RemoveProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\VirtualAgency\Server" Name="StartMenuInstalled" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder">
      <Component Id="cmpDesktopShortcut" Guid="*">
        <Shortcut
          Id="DesktopShortcut"
          Name="Virtual Agency Server"
          Target="[INSTALLFOLDER]virtual-agency-server.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="AppIcon" />
        <RegistryValue Root="HKCU" Key="Software\VirtualAgency\Server" Name="DesktopInstalled" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Virtual Agency Server" Level="1">
      <ComponentRef Id="cmpServerExe" />
      <ComponentRef Id="cmpStartMenuShortcut" />
      <ComponentRef Id="cmpDesktopShortcut" />
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <ui:WixUI Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <!-- Auto-start the server after first install -->
    <CustomAction
      Id="LaunchServerAfterInstall"
      FileRef="filServerExe"
      Execute="immediate"
      Impersonate="yes"
      Return="asyncNoWait" />

    <InstallExecuteSequence>
      <Custom Action="LaunchServerAfterInstall" After="InstallFinalize">NOT Installed</Custom>
    </InstallExecuteSequence>
  </Package>
</Wix>
